* {
  font-family: "Roboto", sans-serif;
}

body {
  padding: 0;
  margin: 0;
}

/* .container {
  display: flex;
  flex-direction: column;
  justify-self: flex-start;

  height: 100vh;
  width: 100%;
} */

.navbar {
  background: #1f2937;
  color: #f9faf8;
  position: fixed;
  display: flex;
  justify-content: center;
  top: 0;
  width: 100%;
}

.navbarText {
  display: flex;
  justify-content: space-between;
  width: 90%;
}

.navbarText .logo a {
  font-size: 24px;
  color: #f9faf8;
  text-decoration: none;
}

.navbarText .links {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.navbarText ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navbarText .links a {
  text-decoration: none;
  font-size: 18px;
  color: #e5e7eb;
}

.navbarText a:hover {
  color: white;
}

.section1 {
  background: #1f2937;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 60vh;
}

.section1 .data {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
}

.section1 .mainText {
  width: 60%;
  color: #f9faf8;
}

.section1 h1 {
  font-size: 48px;
  font-weight: 800;
}

.section1 button {
  background: #3882f6;
  color: #f9faf8;
  font-weight: bold;
  border: 0px;
}

/* Area for Improvement? - control of image size*/
.section1 img {
  width: 100%;
}

.section2 {
  display: flex;
  justify-content: center;
  width: 100%;
}

.section2 .data {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
}

.section2 .heading {
  color: #1f2937;
  font-size: 36px;
  font-weight: 800;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section2 .tiles {
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 2%;
}

.section2 .tile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 20%;
}

.section2 img {
  width: 100%;
}

.section2 .caption {
  width: 100%;
  text-align: center;
  font-size: large;
}

.section3 {
  background: #e5e7eb;
  text-align: center;
  color: #1f2937;
  display: flex;
  justify-content: center;
}

.section3 .data {
  width: 400px;
}

.section3 .quote {
  text-align: left;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.section3 .quoted {
  text-align: right;
  font-weight: 800;
}

.section4 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
}

.section4 .data {
  background: #3882f6;
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 1000px;
}

.section4 .actionCall {
  font-weight: 800;
}

.section4 .signUp {
  color: #e5e7eb;
}

.section4 button {
  background: #3882f6;
  border: 1px solid white;
  color: white;
}

.footer {
  justify-self: flex-end;
}

.footer .data {
  background: #1f2937;
  color: white;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
