* {
  font-family: "Roboto", sans-serif;
}

/* .container {
  display: flex;
  flex-direction: column;
  justify-self: flex-start;

  height: 100vh;
  width: 100%;
} */

.navbar {
  background: #1f2937;
  color: #f9faf8;
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  width: 100%;
}

.navbar .logo {
  font-size: 24px;
  color: #f9faf8;
}

.navbar .links {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navbar a {
  text-decoration: none;
  font-size: 18px;
  color: #e5e7eb;
  padding-right: 30px;
}

.section1 {
  background: #1f2937;
  display: flex;
  justify-content: center;
}

.section1 .data {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1000px;
}

.section1 .mainText {
  width: 600px;
  color: #f9faf8;
}

.section1 h1 {
  font-size: 48px;
  font-weight: 800;
}

.section1 button {
  background: #3882f6;
  color: #f9faf8;
  font-weight: 800;
  border: 0px;
}

.section1 img {
  width: 250px;
}

.section2 {
  display: flex;
  justify-content: center;
}

.section2 .data {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1000px;
}

.section2 .header {
  color: #1f2937;
  font-weight: 800;
  text-align: center;
}

.section2 .tiles {
  display: flex;
  justify-content: center;
  gap: 40px;
}

.section2 .square {
  border: 2px solid #3882f6;
  height: 100px;
  width: 100px;
}

.section2 p {
  width: 100px;
}

.section2 .caption {
  text-align: center;
  font-size: 10px;
}

.section3 {
  background: #e5e7eb;
  text-align: center;
  color: #1f2937;
  display: flex;
  justify-content: center;
}

.section3 .data {
  width: 400px;
}

.section3 .quote {
  text-align: left;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.section3 .quoted {
  text-align: right;
  font-weight: 800;
}

.section4 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
}

.section4 .data {
  background: #3882f6;
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 1000px;
}

.section4 .actionCall {
  font-weight: 800;
}

.section4 .signUp {
  color: #e5e7eb;
}

.section4 button {
  background: #3882f6;
  border: 1px solid white;
  color: white;
}

.footer {
  justify-self: flex-end;
}

.footer .data {
  background: #1f2937;
  color: white;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
